<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let task of tasks" (click)="goToTaskDetails(task.id)">
      <ion-label>
        <h2>{{ task.title }}</h2>
        <h3>{{ task.description}}</h3>
        <p>Vence: {{ task.dueDate | date: 'shortDate' }}</p>
      </ion-label>
      <ion-checkbox slot="end" [checked]="task.completed"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary" (click)="goToCreateTask()">Crear Tarea</ion-button>
</ion-content>
